html{
	font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.5;
	background-image:url("https://images.unsplash.com/photo-1562116290-cf310c050cf7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80");
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment:fixed;
	font-size: 16px;
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}


header{
	position:sticky;
	top:0;
	background:rgba(223, 230, 233,1.0);
	border-radius:10px;
	
}	
#navbar li{
	display:inline-block;
}
#navbar li a{
	
	text-decoration:none;
	color:black;
	padding:10px 15px;
	overflow:hidden;
	
	transition: all  0.3s ease 0s;
}
#navbar li a:hover{
	color:#D0D7DD;
	background:white;
	border-radius:25px;
	
}

#title{
	text-align:center;
}


.sub{
	color:gray;
}

.schedule{
	min-width:100vh;
}

table{
	border-collapse: collapse;
	margin:2em;


}
table, td,th{
	text-align:left;
	padding:.5em;
	font-weight:bold;
}

table td{	
	color:rgba(44, 62, 80,1.0)
}

thead th{
	text-align:center;
}

tfoot th{
	text-align:center;
}

tbody th{
	color:rgba(108, 92, 21,1.0)
}
tr:nth-child(odd){
	background-color:#d8b02c;
}

tr:nth-child(even){
	background:rgba(165, 140, 40, 0.7);	
}

.quote{
	display:block;
	background-color:rgba(255, 241, 201,.7);
	padding:1rem;
	font-size: .9em;
	margin:1em;
	border-radius:25px;
	max-width: 400px;
}

.guru{
	max-width:100%;
	height:auto;
	max-width: 400px;
}

.icon{
	max-width: 200px;
}


h3{
	text-decoration:underline;
	font-size:2em;
}

article{
	max-width: 400px;
}


.section{
	padding:2%;
	margin:auto;
	background:rgba(223, 230, 233,.5);
	border-radius:25px;
	display: flex;
	flex-flow: row wrap;
	justify-content:space-evenly;
}
